$header_background: #f1f1f1;
$white-color: #ffffff;
$status-error-title: #9a9a9a;
$def-btm-border: #0079b8;
$dove_grey: #737373;
$white_light_grey: #d7d7d7;
$dark-grey: #a6a6a6;
$no-magneta-grey: #cccccc;
$dark-hue: #565656;
$black-grey: #7a7a7a;
$cerulean-blue: #0079b8;
$cyan_blue: #007ad9;
$lavender-blue: #ccccff;
$black-color: #333333;
$green-dark-grey: #4c4c4c;
$cerulean-light-blue: #0075b6;
$lighten-dark-navyblue: #002538;
$green-red-grey: #565656;
$twoFouronelight-grey: #f1f1f1;
$twothreeeightlight-grey: #eeeeee;
$equal_dark_grey: #555555;
$seashell-light: #f6f6f6;
$twoonefive-grey: #d7d7d7;
$twotwoone-grey: #dddddd;
$twotwonine_grey: #e5e5e5;
$onetwofour-navyblue: #007cbb;
$fourtysix-grey: #777777;
$onezerotwo-grey: #666666;
$black-color: #333333;
$fivethree-grey: #535353;
$orange-color: #ffa659;
$green-color: #5bcbab;
$onefournine-blue: #0095d3;
$ninefive-blue: #0095d3;
$dark-orange: #f86c69;
$fournine-lightblue: #49afd9;
$threethree-lightblack: #33434c;
$ninelight-green: #999999;
$ealight-grey: #eaeaea;
$falightgrey: #fafafa;
$aalight-brown: #aaaaaa;
