<div class="login-page">
    <div class="alert alert-app-level alert-warning" role="alert" *ngIf="showErrorMessage">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                </div>
                <div class="alert-text">
                    You do not have access to Manager Portal.
                </div>
            </div>
        </div>
    </div>
  <div class="vm-logo"></div>
  <div class="text-container">
    <div class="title-text">Physical <b>Security</b></div>
    <div class="white-bg-text">MANAGER PORTAL</div>
  </div>
</div>
